*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  /* background-color: lightblue; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.log-container{
  background-color: #fff;
  padding: 2.5rem 2.5rem;
  box-shadow: 0px 6px 8px 5px #0000000D;

}
.log-heading{
  margin-bottom: 1.9rem;
}
.log-container p{
  color: #757575;
}
label{
  font-weight: 500;
  font-family: Mulish;
}
.log-container input{
  /* width: 400px; */
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  outline: none;
  margin-bottom: 1.5rem;
  margin-top: 0.7rem;
}

button{
  width: 100%;
  padding: 0.9rem 0rem;
  background-color: #625BF7;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  font-family: Mulish;
  margin-top: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.forgot-password{
  text-decoration: none;
  color: #625BF7;
  font-weight: 700;
  font-family: Mulish;
  margin: auto 27%;
}
.signup-link{
margin-top: 2.5rem;
}
.signup-link a{
  text-decoration: none;
  color: #625BF7;
  font-weight: 400;
  font-family: Mulish;
}
.login-err{
  color: red !important;
  font-family: Mulish;
  margin-bottom: 0.5rem;
}